// Colouring
$sectioned-default-background: $body-bg-secondary;
$sectioned-primary-background: $brand-primary;
$sectioned-secondary-background: $brand-secondary;
$sectioned-tertiary-background: $brand-tertiary;
$sectioned-quaternary-background: $brand-quaternary;

// Responsive
$xs-sectioned-inner-spacing-lg: 60px;
$xs-sectioned-inner-spacing: 40px;
$xs-sectioned-inner-spacing-sm: 30px;

$sm-sectioned-inner-spacing-lg: 80px;
$sm-sectioned-inner-spacing: 60px;
$sm-sectioned-inner-spacing-sm: 50px;

$md-sectioned-inner-spacing-lg: 120px;
$md-sectioned-inner-spacing: 80px;
$md-sectioned-inner-spacing-sm: 60px;

$lg-sectioned-inner-spacing-lg: 130px;
$lg-sectioned-inner-spacing: 90px;
$lg-sectioned-inner-spacing-sm: 70px;
