// |--------------------------------------------------------------------------
// | Sectioned
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .sectioned
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

@import "variables";

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@import "mixins";

// --------------------------------------------------
// Styling
// --------------------------------------------------

// --------------------------------------------------
// Variants
// --------------------------------------------------

// Default
.sectioned {
 	@include sectioned-mixin($sectioned-default-background);
}

// White
.sectioned--white {
 	@include sectioned-mixin(#fff);
}

// Primary
.sectioned--primary {
 	@include sectioned-mixin($sectioned-primary-background);
}

// Secondary
.sectioned--secondary {
 	@include sectioned-mixin($sectioned-secondary-background);
}

// Tertiary
.sectioned--tertiary {
 	@include sectioned-mixin($sectioned-tertiary-background);
}

// Quaternary
.sectioned--quaternary {
 	@include sectioned-mixin($sectioned-quaternary-background);
}

.sectioned--background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &.sectioned--background-image--parallax {
    background-attachment: fixed;
    overflow: hidden;
  }
}

.sectioned--overlay-dark {
  @include sectioned-mixin(fade(#000, 70%));
}

.sectioned--overlay-light {
  @include sectioned-mixin(fade(#fff, 70%));
}

.sectioned--overlay-primary {
  @include sectioned-mixin(fade($brand-primary, 70%));
}

.sectioned--overlay-secondary {
  @include sectioned-mixin(fade($brand-secondary, 70%));
}

.sectioned--overlay-tertiary {
  @include sectioned-mixin(fade($brand-tertiary, 70%));
}

.sectioned--overlay-quaternary {
  @include sectioned-mixin(fade($brand-quaternary, 70%));
}

// --------------------------------------------------
// Sizes
// --------------------------------------------------

// Small inner spacing
.sectioned--small-inner-spacing {
  @include sectioned-responsive-sizing-mixin($xs-sectioned-inner-spacing-sm, $sm-sectioned-inner-spacing-sm, $md-sectioned-inner-spacing-sm, $lg-sectioned-inner-spacing-sm);
}

// Default inner spacing
.sectioned {
  @include sectioned-responsive-sizing-mixin($xs-sectioned-inner-spacing, $sm-sectioned-inner-spacing, $md-sectioned-inner-spacing, $lg-sectioned-inner-spacing);
}

// Large inner spacing
.sectioned--large-inner-spacing {
  @include sectioned-responsive-sizing-mixin($xs-sectioned-inner-spacing-lg, $sm-sectioned-inner-spacing-lg, $md-sectioned-inner-spacing-lg, $lg-sectioned-inner-spacing-lg);
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
